/*
Base color light: #5F5F5F
Base color: #353535
Base color dark: #272727
Button text: #FFFFFF
Button background selected: #404040
Button background available: #B0B0B0
Button background disabled: #757575
*/

button {
    background: #B0B0B0;
    border: none;
    color: hsl(0, 0%, 0%);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 2;
    border-radius: 4px;
    margin: 2px;
}

button:active {
    transform: translateY(1px);
}

button:disabled {
    background: #757575;
    cursor: not-allowed;
    opacity: 1;
}

.dialog {
    background: #272727;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-color: #202020;
}

.dialog-button {
    padding:0.25rem 0.6rem;
    border-radius:2px;
    border:none;
    background:#3a3a3a;
    color:#f5f5f5;
    font-size:0.8rem;
}

.dialog-button-ok {
    padding:0.25rem 0.6rem;
    border-radius:2px;
    border:none;
    background:#364ff0;
    color:#f5f5f5;
    font-size:0.8rem;
}

.dialog-button:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

.layer-dialog-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: white;
    text-align: center
}

input[type="text"] {
    border-radius:2px;
    background:#ffffff;
    border: none;
    color:#000000;
    padding:3px;
    margin:2px;
}