name: Rust

on:
  push:
    branches: [ "master" ]
    paths:
      - pro-pain-t-app/**
  pull_request:
    branches: [ "master" ]
    paths:
      - pro-pain-t-app/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pro-pain-t-app

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
